
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 ">
  <div class="container-fluid d-flex flex-column p-2 ">
    <div class="container ">
      <div class="row ">
            <h3 class="h3"> <i class="fa fa-user-circle"></i> Nom </h3>
            <h3 class="h3"> Prenom</h3>
      </div>
    </div>
    <hr class="sidebar-divider my-0" />
    <ul class="nav navbar-nav text-dark p-3" id="accordionSidebar">
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/"><span class="items "><i class="fa fa-user "></i> Profile</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/"><span class="items"><i class="fa fa-file-pdf-o "></i> Thèses</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/"><span class="items"><i class="fa fa-file-pdf-o "></i> Articles</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/"><span class="items"><i class="fa fa-file-pdf-o "></i> Formations</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/"><span class="items"><i class="fa fa-file-pdf-o "></i> Communications</span></a></li>
    </ul>
    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
  </div>
</nav>
