@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
.login-dark .illustration {
  text-align: center;
  padding: 5px 0 20px;
  font-size: 100px;
  color: white;
}

.login {
  margin-bottom: 20px;
  padding: 60px;
  background-color: #03396c;
  border-radius: 40px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: white;
  border-color: rgba(0,123,255,.25);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.forgot{
  color: #ffffff;
}



