
<div class="container-fluid login col-md-4 login-dark">
  <form method="post"class="form-group portfolio-block">
    <div class="illustration" ><i class="fa fa-user"></i></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
    <div class="form-group">
      <button class="btn btn-outline-primary text-monospace btn-block" type="submit">Log In</button>
    </div><a class="forgot text-center" href="#">Forgot your email or password?</a>
  </form>
</div>


