
<main class="page lanidng-page">
  <div class="portfolio-block block-intro">
    <div class="container">
      <div class="avatar"></div>
      <div class="about-me">
        <p><strong>La soutenance de stage</strong>
          doit permettre à l’étudiant de démontrer qu’il a intégré,
          compris et sait utiliser les enseignements dispensés durant sa formation lorsqu’il se trouve dans un environnement pratique,
          c’est-à-dire lors d’un stage en entreprise. Cette évaluation se déroule après la rédaction du rapport de stage
          et aboutie à une note.</p>
        <a class="btn btn-outline-primary" role="button" href="#">Plus D information</a></div>
    </div>
  </div>
  <section class="portfolio-block photography">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="soutnance" class="img-fluid image" src="../../../assets/images/la-soutenance.jpg" /></a></div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="souvenir" class="img-fluid image" src="../../../assets/images/soutenir.jpg" /></a></div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="soutnance" class="img-fluid image" src="../../../assets/images/rapport-de-stage-3.jpg" /></a></div>
      </div>
    </div>
  </section>
  <section class="portfolio-block skills">
    <div class="container">
      <div class="heading">
        <h2>Des idees</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title">Doctorant</h3>
              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title">Enseignant</h3>
              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title">Soutenance</h3>
              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

