<div class="btn-group btn-group-lg mr-sm-2" role="group" >
  <button type="button" class="btn btn-secondary " data-toggle="collapse" data-target="#collapsing"><span><i class="fa fa-plus" style="color:#03396c"></i></span> These</button>
</div>
<div class="btn-group btn-group-lg mr-sm-2" role="group" >
  <button type="button" class="btn btn-secondary"><span><i class="fa fa-plus" style="color:#03396c"></i></span> Article</button>
</div>
<div class="btn-group btn-group-lg mr-sm-2" role="group" >
  <button type="button" class="btn btn-secondary"><span><i class="fa fa-plus" style="color:#03396c"></i></span> Attestation</button>
</div>
<div class="btn-group btn-group-lg mr-sm-2" role="group" >
  <button type="button" class="btn btn-secondary"><span><i class="fa fa-plus" style="color:#03396c"></i></span> Communication</button>
</div>

