<section class="inscription-page">
<div class="container ">
  <div class="heading text-center">
    <h2>S&#39;inscrire Au Cycle Doctorale</h2>
  </div>
  <div class="inscription-form">
    <form method="post">
      <div class="row">
        <div class="col-md-6 form-group"><label for="cin">CIN</label><input type="text" class="form-control" id="cin" placeholder="enter votre CIN" name="cin" /></div>
        <div class="col-md-6 form-group"><label for="cne">CNE</label><input type="text" class="form-control" id="cne" placeholder="Enter votre CNE" name="cne" /></div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group"><label for="nom">Nom</label><input type="text" class="form-control" id="nom" placeholder="Entrer votre nom" name="nom" /></div>
        <div class="col-md-6 form-group"><label for="prenom">Prénom</label><input type="text" class="form-control" id="prenom" placeholder="Entrer votre prénom" name="prenom" /></div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group"><label for="email">Email</label><input type="email" class="form-control" id="email" name="email" placeholder="Entrer votre email" /></div>
        <div class="col-md-6 form-group"><label for="tel">Telephone</label><input type="tel" class="form-control" id="tel" placeholder="Entrer votre telephone" name="tel" /></div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group"><label for="sujet">Sujet De Thèse</label><input type="text" class="form-control" id="sujet" placeholder="Enter le sujet de votre thèse" name="sujet" /></div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group"><label for="directeur">Directeur De Thèse<br /></label><input type="text" class="form-control" id="directeur" placeholder="Entrer votre Directeur De Thèse" name="directeur" /></div>
        <div class="col-md-6 form-group"><label for="structure">Structure De Recherche<br /></label><select class="form-control" id="structure" name="structure"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group"><button class="btn btn-outline-primary text-monospace btn-block" type="submit">S&#39;inscrire</button></div>
      </div>
    </form>
  </div>
</div>
</section>
